/* add defaults  */
* {
  box-sizing: border-box;
}
body {
  background-color: #5864a0;
  color: #fff;
  /* font-family: */
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}
button {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  width: 50%;
}
input {
  padding: 1rem;
  border-radius: 0.5rem;
  width: 50%;
}
span {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: darkgray;
  color: black;
  margin: 0.2rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
}
.screen.up {
  margin-top: -100vh;
}
.curr-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.all-currencies {
  background-color: rgba(87, 162, 84, 0.363);
  padding: 1rem;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 0.5rem;
}
#convert-Form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-top: 1rem;
}
.c-card {
  display: none;
  flex-direction: column;
  width: 50%;
  background-color: rgb(12 17 15 / 85%);
  position: absolute;
  border-radius: 1rem;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.active {
  display: flex;
}
.c-card button {
  margin: auto;
}
