/* add defaults  */
@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@1,200&family=Cutive+Mono&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #2f2f32;
  color: #fff;
  font-family: "Cutive Mono", monospace;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

button {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}
input {
  padding: 1rem;
  border-radius: 0.5rem;
}
span {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: darkgray;
  color: black;
  margin: 0.2rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
}
.screen.up {
  margin-top: -100vh;
}
.header {
  flex-direction: row;
  justify-content: space-around;
}
.header img {
  display: none;
  width: 100%;
  height: 100%;
}
.header-title {
  background-color: #5f5f5f4d;
  padding: 4rem 1rem;
  margin: 0 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}
.all-currencies {
  background-color: #5f5f5f4d;
  padding: 1rem;
  margin: 0 3rem;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 0.5rem;
}
.curr-container {
  position: relative;
  justify-content: center;
  gap: 3rem;
}
#convert-Form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  gap: 0.5rem;
}
#convert-Form input {
  width: 70%;
}
.c-card {
  display: none;
  flex-direction: column;
  width: 50%;
  background-color: rgb(12 17 15 / 85%);
  position: absolute;
  border-radius: 1rem;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.active {
  display: flex;
}
.c-card button {
  margin: auto;
}

@media screen and (min-width: 568px) {
  .header img {
    display: block;
    width: 50%;
  }
  .header-title {
    width: 40%;
  }
  .all-currencies {
    width: 60%;
  }
  #convert-Form input {
    width: 33.3%;
  }
}
