@media screen and (min-width: 430px) and (max-width: 740px) {
  .desc-section img {
    width: 80%;
  }
  .desc-title {
    font-size: 2.5rem;
    width: 30%;
  }
  .all-currencies {
    width: 60%;
  }
  #watchList {
    width: 90%;
  }
}
@media screen and (min-width: 740px) {
  section h2 {
    font-size: 4rem;
    color: var(--yellowGreen);
    padding: 0 3rem;
  }
  span {
    width: 30%;
  }
  .desc-section {
    flex-direction: row-reverse;
  }
  .desc-section img {
    width: 50%;
  }
  .desc-title {
    width: 40%;
    font-size: 4rem;
  }
  .all-currencies {
    width: 50%;
  }
  #convert-Form input {
    width: 33.3%;
  }
  #convert-Form button {
    width: 20%;
  }
  .c-card {
    width: 50%;
  }
  #date-form {
    width: 40%;
  }
  .current-date {
    font-size: 2rem;
  }
  #watchList {
    width: 70%;
  }
  #watchList li span {
    padding: 1.5rem;
  }
}
