@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@1,200&family=Josefin+Sans:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --yellowGreen: #9fcc2e;
  --ebony: #5a6650;
  --hunterGreen: #295135;
  --stateGreen: #0e402d;
  --black: #000000;
  --readius: 0.8rem;
  --btnFsize: 1rem;
  --btnPadding: 1rem;
}
body {
  background-color: #000000;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}
section {
  height: 100vh;
}
button {
  padding: var(--btnPadding);
  font-size: var(--btnFsize);
  border-radius: var(--readius);
}
input {
  padding: 1rem;
  border-radius: var(--readius);
}
span {
  padding: 0.8rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--black);
  color: white;
}
span:hover::before {
  content: attr(aria-label);
  background: var(--ebony);
  position: absolute;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 1;
}
a {
  color: #fff;
}
ul {
  list-style: none;
}
/* ---------------------------header----------------------------------------------- */
.header-container {
  width: 100%;
  display: none;
}
.header-container ul {
  display: flex;
  justify-content: space-between;
  width: 80%;
  background-color: #000000d6;
  border-bottom: 0.1rem solid var(--ebony);
  margin: auto;
  padding: 1.5rem 0;
}
.header-container ul li a {
  text-decoration: none;
  font-size: 1.8rem;
}
/*------------------------main----------------------------------------------------------*/
.main-content {
  display: flex;
  flex-direction: column;
}
.desc-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
}
.desc-title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.currs-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.currs-section h2 {
  font-size: 2.5rem;
}
.all-currencies {
  background-color: var(--ebony);
  padding: 1.5rem;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  gap: 0.5rem;
}
.current-date {
  font-size: 2rem;
}

.convert-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.convert-section h2 {
  padding: 0 4rem;
  font-size: 2.5rem;
}
#convert-Form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  gap: 0.5rem;
}
#convert-Form input {
  width: 100%;
}
#convert-Form button {
  width: 100%;
}
#convert-Form button:hover {
  background-color: var(--yellowGreen);
  color: black;
}
.c-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  visibility: hidden;
  width: 50%;
  background-color: rgb(12 17 15 / 85%);
  position: absolute;
  border-radius: 1rem;
  padding: 5rem 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* transition: all 1s ease-in-out; */
}
.active {
  visibility: visible;
}
.c-card_btns {
  display: flex;
  justify-content: space-around;
}
.c-card_btns button {
  padding: 0.5rem;
}
.searchDate-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.searchDate-section h2 {
  font-size: 2.5rem;
  padding: 0 4rem;
}
#date-form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: center;
  width: 80%;
}
#date-form input {
  width: 45%;
}
#date-form button:hover {
  background-color: var(--yellowGreen);
  color: black;
}
.watch-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.watch-section h2 {
  font-size: 2.5rem;
}
#watchList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#watchList li {
  background-color: var(--ebony);
  width: 100%;
  padding: 1rem;
  border-radius: var(--readius);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footerContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-top: 0.1rem solid var(--ebony);
  width: 80%;
  margin: auto;
  color: wheat;
}

/* add one common class  for sections later */
